<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Event Curation", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "まとめを作る",   '#' %></li>
        <li><%= link_to "会員登録", '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>