<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @editor.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @editor.description %>
</p>

<%= link_to 'Edit', edit_editor_path(@editor) %> |
<%= link_to 'Back', editors_path %>
